name: Java CI with Maven

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 19
        uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'temurin'
          cache: maven
      - name: Create doc directory
        run: mkdir -p target/docs
      - name: Change wrapper permissions
        run: chmod +x ./mvnw
      - name: Build with Maven
        run: ./mvnw --batch-mode --update-snapshots verify
      - run: mkdir staging && cp target/*.jar staging
      - uses: actions/upload-artifact@v3
        with:
          name: Package
          path: .staging/
          retention-days: 5
      - name: Upload Github Pages Artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: target/docs
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
